tensorboard==2.13.0
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
tensorflow-transform==4.23.4
tensorflow-transform==1.13.0
